* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #222;
    color: white;
    padding-top: 20px;
}
.logo img{
    height: 90px;
    margin-left: 40px;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

/* Login button at bottom */
.login-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #ff6600;
    text-align: center;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #e65c00;
}
.main-content {
    margin-left: 220px; /* Same as sidebar width */
    padding: 20px;
    min-height: 100vh;
    background-color: #3e3e3e;
    background-image: url("../img/—Pngtree—abstract\ white\ flame\ smoke\ effect_6511472.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:right;
}
form{
    margin-top: 80px;
}
label{
    margin-left: 300px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.phone-box,.name-box,.address-box{
    margin-left: 300px;
    height: 50px;
    width: 597px;
    background-color: grey;
    border-radius: 5px;
    border: transparent;
}
.city-box,
.state-box,.pin-box{
    height: 50px;
    background-color: grey;
    border-radius: 5px;
    width: 189px;
    margin-left: 10px;
}
.side-box{
    margin-left: 290px
}
::placeholder{
    font-size: 18px;
    color: white;
    opacity: 1;
}
.total{
    margin-left: 350px;
    display: flex;
}
.tol-head{
    color: white;
    margin-top: 30px;
}
.tol-head,#amount{
    display: flex;
}
#amount{
    position: relative;
    left: 10px;
}
input{
    text-align: center;
    font-weight: bold;
}

.book-btn{
    border: transparent;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 20px;
    width: 200px;
    margin-left: 150px;
    margin-top: 20px;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
input{
    font-weight: bolder;
    color: white;
}

/*screen 400px*/
@media screen and (max-width: 400px) {
  .sidebar {
    width: 400px;
    height: 50px;
    position: static;
  }
    .main-content{
    background-image: url("../img/—Pngtree—abstract\ white\ flame\ smoke\ effect_6511472.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
  }
  .sidebar a{
    position: relative;
    bottom: 20px;
    left: 40px;
  }
  .logo img{
        height: 30px;
        position: relative;
    }
  .login-btn{
    width: 50px;
    margin-top: 10px;
    margin-right: 42px;
    position: relative;
    border: transparent;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 400px;}
}