* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #222;
    color: white;
    padding-top: 20px;
}
.logo img{
    height: 90px;
    margin-left: 40px;
}
/* .sidebar {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
} */

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.1s;
}

.sidebar a:hover {
    background-color: #444;
}

/* Login button at bottom */
.login-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #ff6600;
    border-radius: 5px;
    border: transparent;
    padding: 12px;
}

.login-btn:hover {
    background-color: #3e3e3e;
}

/* Main content */
.main-content {
    margin-left: 220px; /* Same as sidebar width */
    padding: 20px;
    min-height: 100vh;
    background-color: #3e3e3e;
    background-image: url("../img/—Pngtree—abstract\ white\ flame\ smoke\ effect_6511472.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top;
}
.searching{
    height: 30px;
    width: 500px;
    position: relative;
    left: 30%;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #919191;
    border: 1px darkgray;
}
.home img{
    height: 400px;
    width: 100%;
}
.card-title{
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 20px;
}
.card-text{
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 60px;
    padding: 20px;
}
.intro{
    display: flex;
    /* border: 1px solid rgb(156, 149, 149); */
    border: 1px solid;
    margin-top: 20px;
}
.imgintro{
    height: 400px;
    width: 600px;
}
.text-card1{
    display: flex;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 100px;
    color:white;
    font-weight: bolder;
}

.rents{
    border: 2px solid;
    display: flex;
    margin-top: 20px;
    height: 68vh;
}
.rents1{
    height: 500px;
    width: 1000px;
}
.text-para{
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-left:100px;
}
/* .s-name{
    font-size: medium;
} */
.sports-head{
    color: white;
    margin-top: 30px;
}
.sports-img{
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.sports1{
    height: 500px;
    width: 310px;
}
.sports1:hover{
 transform: scale(1.03);
 border-radius: 25px;
}
.sports2:hover{
 transform: scale(1.03);
 border-radius: 25px;
}
.sports3:hover{
 transform: scale(1.03);
 border-radius: 25px;
}
.sports4:hover{
 transform: scale(1.03);
 border-radius: 25px;
}
.sports2{
    height: 500px;
    width: 320px;
}
.sports3{
    height: 500px;
    width: 320px;
}
.sports4{
    height: 500px;
    width: 320px;
}
.s-name{
    color: white;
}
.brands{
    background-color: #919191;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}   
.brands1-img{
    height: 40px;
    margin-left: 30px;
}
.brands2-img{
    height: 80px;
}
marquee{
    box-shadow: 0 1px 3px rgba(0,0,0,0.10);
    padding: 10px;
}
.brands1{
    margin-top: 25px;
    margin-right: 20px;
    font-style: oblique;
    font-weight: bold;
}


footer {
    background-color: #919191;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 10px; /*Push footer to bottom*/
}

footer a {
    color: #00aced;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*screen 1400px*/
@media screen and (max-width: 1400px) {
    .searching{
        position: relative;
        left: 320px;
    }
    .sports-img{
        position: relative;
        bottom: 10px;
    }
    .sports1{
        height: 460px;
        width: 284px;
    }
    .sports2{
        height: 460px;
        width: 284px;
    }
    .sports3{
        height: 460px;
        width: 284px;
    }
    .sports4{
        height: 460px;
        width: 284px;
    }
    .brands1{
        position: relative;
        bottom: 10px;
        font-size: 25px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}

/*screen 1200px*/
@media screen and (max-width: 1200px) {
    .searching{
        position: relative;
        left: 220px;
    }
    .sports-img{
        position: relative;
        bottom: 10px;
    }
    .sports1{
        height: 400px;
        width: 235px;
    }
    .sports2{
        height: 400px;
        width: 235px;
    }
    .sports3{
        height: 400px;
        width: 235px;
    }
    .sports4{
        height: 400px;
        width: 235px;
    }
    .brands1{
        position: relative;
        bottom: 10px;
        font-size: 25px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}

/*1000px screen*/
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 1000px;
    height: 50px;
    position: static;
  }
  .sidebar a{
    position: relative;
    bottom: 20px;
    left: 20px;
  }
  .logo img{
        height: 30px;
        position: relative;
        right: 20px;
    }
  .login-btn{
    height: 25px;
    width: 100px;
    border-radius: 20px;
    margin-top: 12px;
    margin-right: 52px;
    position: relative;
    border: transparent;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 1000px;}
}
@media screen and (max-width: 1000px){
    .searching{
        width: 400px;
        position: relative;
        bottom: 60px;  
        height: 25px;   
        left: 250px; 
    }
    .card-img-overlay{
        width: 400px;
    }
    .home{
        position: relative;
        bottom: 40px;
    }
    .home img{
        height: 400px;
    }
    .intro{
        position: relative;
        bottom: 40px;
    }
    .imgintro{
        height: 400px;
        width: 600px;
    }
    .text-card1{
        font-size: 40px;
        position: relative;
        right: 35px;
    }
}
@media screen and (max-width: 1000px){
    .sports-head{
        font-size:x-large;
    }
    .sports-img{
        position: relative;
        bottom: 10px;
    }
    .sports{
        position: relative;
        bottom: 40px;
    }
    .sports1{
        height: 350px;
        width: 240px;
    }
    .sports2{
        height: 350px;
        width: 240px;
    }
    .sports3{
        height: 350px;
        width: 240px;
    }
    .sports4{
        height: 350px;
        width: 240px;
    }
    .brands1{
        position: relative;
        bottom: 10px;
        font-size: 25px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}


/*800px screen*/
@media screen and (max-width: 800px) {
  .sidebar {
    width: 800px;
    height: 50px;
    position: static;
  }
  .sidebar a{
    position: relative;
    bottom: 20px;
  }
  .logo img{
        height: 30px;
        position: relative;
    }
  .login-btn{
    width: 50px;
    margin-top: 10px;
    margin-right: 42px;
    position: relative;
    border: transparent;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 800px;}
}
@media screen and (max-width: 800px){
    .searching{
        width: 300px;
        position: relative;
        bottom: 60px;  
        height: 25px;    
    }
    .card-img-overlay{
        width: 400px;
    }
    .home{
        position: relative;
        bottom: 40px;
    }
    .home img{
        height: 300px;
    }
    .intro{
        position: relative;
        bottom: 40px;
    }
    .imgintro{
        height: 280px;
        width: 450px;
    }
    .text-card1{
        font-size: 40px;
        position: relative;
        right: 35px;
    }
}
@media screen and (max-width: 800px){
    .sports-head{
        font-size:x-large;
    }
    .sports-img{
        position: relative;
        bottom: 10px;
    }
    .sports{
        position: relative;
        bottom: 40px;
    }
    .sports1{
        height: 350px;
        width: 190px;
    }
    .sports2{
        height: 350px;
        width: 190px;
    }
    .sports3{
        height: 350px;
        width: 190px;
    }
    .sports4{
        height: 350px;
        width: 190px;
    }
    .brands1{
        position: relative;
        bottom: 10px;
        font-size: 25px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}

 @media screen and (max-width: 600px) {
  .sidebar {
    width: 600px;
    height: 50px;
    position: static;
  }
  .sidebar a{
    position: relative;
    bottom: 20px;
    right: 30px;
  }
  .logo img{
        height: 30px;
        position: relative;
    }
  .login-btn{
    width: 50px;
    margin-top: 10px;
    margin-right: 42px;
    position: relative;
    border: transparent;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 603px;}
}

/*600 px screen*/
@media screen and (max-width: 600px){
    .searching{
        width: 200px;
        position: relative;
        bottom: 60px;  
        height: 25px;    
    }
    .card-img-overlay{
        width: 300px;
    }
    .home{
        position: relative;
        bottom: 40px;
    }
    .home img{
        height: 300px;
    }
    .intro{
        position: relative;
        bottom: 40px;
    }
    .imgintro{
        height: 250px;
        width: 350px;
    }
    .text-card1{
        font-size: 40px;
        position: relative;
        right: 60px;
    }
}
@media screen and (max-width: 600px){
    .sports{
        position: relative;
        bottom: 40px;
    }
    .sports-head{
        font-size: larger;
    }
    .sports-img{
        position: relative;
        bottom: 20px;
    }
    .sports-img1{
        display:inline-block;
    }
    .sports1{
        height: 250px;
        width: 140px;
    }
    .sports2{
        height: 250px;
        width: 140px;
    }
    .sports3{
        height: 250px;
        width: 140px;
    }
    .sports4{
        height: 250px;
        width: 140px;
    }
    .brands{
        position: relative;
        bottom: 40px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
footer{
    position: relative;
    bottom: 40px;
}
}


/*400px screen*/
@media screen and (max-width: 400px) {
  .sidebar {
    width: 400px;
    height: 50px;
    position: static;
  }
  .sidebar a{
    position: relative;
    bottom: 65px;
    left: 60px;
  }
  .logo img{
        height: 30px;
        position: relative;
        bottom: 10px;
    }
  .login-btn{
    width: 70px;
    padding: 1px;
    border-radius: 20px;
    bottom: 59px;
    margin-right: 40px;
    position: relative;
    border: transparent;
  }
  .card-title,.card-text{
    font-size:large;
    position: relative;
    top: 20px;
    left: 20px;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 400px;}
}
@media screen and (max-width: 400px){
    .searching{
        width: 100px;
        position: relative;
        bottom: 60px;  
        height: 25px;    
    }
    .card-img-overlay{
        width: 200px;
    }
    .home{
        position: relative;
        bottom: 40px;
    }
    .home img{
        height: 220px;
    }
    .intro{
        position: relative;
        bottom: 40px;
    }
    .imgintro{
        height: 250px;
        width: 358px;
    }
    .text-card1{
        font-size: 40px;
        position: relative;
        right: 35px;
    }
}
@media screen and (max-width: 400px){
    .sports-head{
        font-size:x-large;
    }
    .sports{
        position: relative;
        bottom: 45px;
    }
        .sports-img{
        display:inline;
    }
    .sports1{
        height: 400px;
        width: 360px;
    }
    .sports2{
        height: 400px;
        width: 360px;
    }
    .sports3{
        height: 400px;
        width: 360px;
    }
    .sports4{
        height: 400px;
        width: 360px;
    }
    .brands1{
        position: relative;
        top: 10px;
        font-size: 25px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}


