* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #222;
    color: white;
    padding-top: 20px;
}
.logo img{
    height: 90px;
    margin-left: 40px;
}
/* .sidebar {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
} */

.sidebar a {
    display: block;
    padding: 12px 10px;
    color: white;
    text-decoration: none;
    transition: background 0.1s;
}

.sidebar a:hover {
    background-color: #444;
}

/* Login button at bottom */
.login-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #ff6600;
    text-align: center;
    border-radius: 5px;
    border: transparent;
}

.login-btn:hover {
    background-color: #3e3e3e;
}

/* Main content */
.main-content {
    margin-left: 220px; /* Same as sidebar width */
    padding: 20px;
    min-height: 100vh;
    background-color: #3e3e3e;
    background-image: url("../img/—Pngtree—abstract\ white\ flame\ smoke\ effect_6511472.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top;
}
.searching{
    height: 30px;
    width: 500px;
    position: relative;
    left: 30%;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #919191;
}
.home img{
    height: 400px;
    width: 100%;
}
.card-title,.card-text{
    position: relative;
    top: 50px;
    left: 50px;
}
.intro{
    display: flex;
    border: 1px solid rgb(156, 149, 149);
    margin-top: 20px;
}
.imgintro{
    height: 400px;
    width: 600px;
}
.text-card1{
    display: flex;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 100px;
}

.rents{
    border: 2px solid;
    display: flex;
    margin-top: 20px;
    height: 68vh;
}
.rents1{
    height: 500px;
    width: 1000px;
}
.s-name{
    font-size: medium;
}
.sports-head{
    color: white;
    margin-top: 30px;
}
.sports-img{
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.sports1{
    height: 500px;
    width: 310px;
}
.sports1:hover{
    width: 315px;
    height: 501px;
}
.sports2{
    height: 500px;
    width: 320px;
}
.sports3{
    height: 500px;
    width: 320px;
}
.sports4{
    height: 500px;
    width: 320px;
}
.s-name{
    color: white;
}
.brands{
    background-color: #919191;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}   
.brands1-img{
    height: 40px;
    margin-left: 30px;
}
.brands2-img{
    height: 80px;
}
marquee{
    box-shadow: 0 1px 3px rgba(0,0,0,0.10);
    padding: 10px;
}
.brands1{
    margin-top: 25px;
    margin-right: 20px;
    font-style: oblique;
    font-weight: bold;
}


footer {
    background-color: #919191;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 10px; /*Push footer to bottom*/
}

footer a {
    color: #00aced;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



 @media screen and (max-width: 600px) {
  .sidebar {
    width: 600px;
    height: 50px;
    position: static;
  }
  .sidebar a{
    position: relative;
    bottom: 20px;
    right: 30px;
  }
  .logo img{
        height: 30px;
        position: relative;
    }
  .login-btn{
    width: 50px;
    margin-top: 10px;
    margin-right: 42px;
    position: relative;
    border: transparent;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 603px;}
}

@media screen and (max-width: 600px){
    .searching{
        width: 200px;
        position: relative;
        bottom: 60px;  
        height: 25px;    
    }
    .card-img-overlay{
        width: 300px;
    }
    .home{
        position: relative;
        bottom: 40px;
    }
    .home img{
        height: 300px;
    }
    .intro{
        position: relative;
        bottom: 40px;
    }
    .imgintro{
        height: 200px;
        width: 300px;
    }
    .text-card1{
        font-size: 40px;
        position: relative;
        right: 60px;
    }
}
@media screen and (max-width: 600px){
    .sports-head{
        font-size: larger;
    }
    .sports-img1{
        display:inline-block;
    }
    .sports1{
        height: 250px;
        width: 140px;
    }
    .sports2{
        height: 250px;
        width: 140px;
    }
    .sports3{
        height: 250px;
        width: 140px;
    }
    .sports4{
        height: 250px;
        width: 140px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}


@media screen and (max-width: 400px) {
  .sidebar {
    width: 400px;
    height: 50px;
    position: static;
  }
  .sidebar a{
    position: relative;
    bottom: 20px;
    right: 40px;
  }
  .logo img{
        height: 30px;
        position: relative;
    }
  .login-btn{
    width: 50px;
    margin-top: 10px;
    margin-right: 42px;
    position: relative;
    border: transparent;
  }
  .login-btn{float:inline-end;}
  .sidebar a {float:inline-start;}
  div.main-content {margin: 0;width: 400px;}
}

@media screen and (max-width: 400px){
    .searching{
        width: 100px;
        position: relative;
        bottom: 60px;  
        height: 25px;    
    }
    .card-img-overlay{
        width: 200px;
    }
    .home{
        position: relative;
        bottom: 40px;
    }
    .home img{
        height: 230px;
    }
    .intro{
        position: relative;
        bottom: 40px;
    }
    .imgintro{
        height: 200px;
        width: 358px;
    }
    .text-card1{
        font-size: 40px;
        position: relative;
        right: 35px;
    }
}
@media screen and (max-width: 400px){
    .sports-head{
        font-size:x-large;
    }
    .sports{
        position: relative;
        bottom: 45px;
    }
        .sports-img{
        display:inline;
    }
    .sports1{
        height: 400px;
        width: 360px;
    }
    .sports2{
        height: 400px;
        width: 360px;
    }
    .sports3{
        height: 400px;
        width: 360px;
    }
    .sports4{
        height: 400px;
        width: 360px;
    }
    .brands1{
        position: relative;
        top: 10px;
        font-size: 25px;
    }
    .brands1-img{
        height: 40px;
    }
    .brands2-img{
    height: 60px;
}
}
